 <!-- form handling -->
 <form action="/chicken" method="POST" id="add_chicken">
    <div class="new_chicken">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis" required>
        </div>
        <div class="form-group">
            <label for="birthday" class="text-light">Birthday</label>
            <input type="date" name="birthday" value="" placeholder="yy-mm-dd" required>
        </div>
        <div class="form-group">
            <label for="weight" class="text-light">weight</label>
            <input type="text" name="weight" value="" placeholder="0.0" required>
        </div>
        <div class="form-group">
            <label for="steps" class="text-light">steps</label>
            <input type="text" name="steps" value="0" placeholder="0">
        </div>

        <div class="form-group">
            <label for="isRunning" class="text-light">isRunning</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="isRunning" value="false" >
                <label for="radio-4" class="radio-label">false</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="isRunning" value="true" >
                <label for="radio-5" class="radio-label">true</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>